body {
	background-color: #1A1A1A;
	color: lightgrey;
	font-family: 'Montserrat', sans-serif;
}

.main {

}

h1 {
	margin-top: 60px;
	text-align: center;
	font-size: 60px;

	animation-name: fade-top;
	animation-duration: 2s;
}

h2 {
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: grey;

	animation-name: fade;
	animation-duration: 1s;
	transition: 0.5s;
}

h2:hover {
	color: darkgrey;
	transition: 0.5s;
}

h3 {
	float: center;
	background-color: #2B2B2B;
	color: #2B2B2B;
	margin-top: 200px;
	margin-left: 530px;
	margin-right: 530px;
	margin-bottom: -280px;
	padding-top: 110px;
	padding-bottom: 120px;

	animation-name: fade;
	animation-duration: 1s;
}

.hr-um {
	margin-right: 650px;
	margin-left: 650px;
	padding-top: 0.2;
	background-color: lightgrey;

	animation-name: fade;
	animation-duration: 2s;
}

.hr-dois {
	margin-right: 650px;
	margin-left: 650px;
	padding-top: 0.2;
	background-color: lightgrey;

	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade-top{
	0% { opacity: 0; transform: translate(0px,-20px);}
	100% { opacity: 1; transform: translate(0px,0px);}
}

@keyframes fade{
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@media (max-width: 1000px) {

h3 {
	margin-left: 50px;
	margin-right: 50px;
}

.hr-um {
	margin-right: 130px;
	margin-left: 130px;
}

.hr-dois {
	margin-right: 130px;
	margin-left: 130px;
}
	}

